

body {
    margin: 0;
    text-align: center;
    font-family: 'Average', serif;
    color: #0F4C75;
}

h1 {
    font-size: 5.625rem;
    margin-top: 50px;
    margin-bottom: 5px;
    color: #3282B8;
    font-family: 'Bad Script', cursive;
    line-height: 1.5;
}
h2 {
    font-size: 2.5rem;
    font-family: 'Azeret Mono', monospace;
    color: #BBE1FA;
    font-weight:normal;
}

h3 {
    font-family: 'Azeret Mono', monospace;
    color: #3282B8;
}

p {
    color: #BBE1FA;
}

a {
    color: #BBE1FA;
}

.Upper-container {
    background-color: #1B262C;
    position: relative;
    padding-top: 100px;
}

.top-cloud {
    position: absolute;
    right: 350px;
    top: 50px;

    
}

.bottom-cloud {
    position: absolute;
    left: 350px;
}

.mountain{

}

.middle-container {
    background-color: #0F4C75;
    padding-top:55px;
}

.bottom-container {
    background-color: #1B262C;
    padding-bottom:5px;
    padding-top:20px;
}

.skill-row{
    width :50%;
    margin: 100px auto;
    text-align:left;
    line-height:2;
}

.web-img{
    float:left;
    width:25%;
    margin-right:30px;
}

.cyber-img{
    float:right;
    width:25%;
    margin-left:30px;
}

.profile{
    width=50;
    margin:auto;
    margin-top:55px;
}

.profile-img{
    width:15%;
}

hr {
    width: 5%;
    
    
    border: dotted 10px #1B262C;
   
    border-bottom-style: none;
    margin-top:100px;
    margin-bottom:100px;
    
}

.button {
    background-color: #BBE1FA;
    border-right-width: 0px;
    border-top-width: 0px;
    border-bottom-width: 0px;
    height: 52px;
    border-left-width: 0px;
    padding-left: 70px;
    padding-right: 70px;
    margin-bottom: 25px;
    margin-top:25px;
    font-family: 'Azeret Mono', monospace;
}